<html>
    <head>
        <title>Experimentat Form</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block footer %}
           <br><strong>&copy; 2015</strong>
        {% endblock %}
 </body>
</html>
