{% extends "propertytemplate/header.html.twig" %}
{% block content %}
<h3>Please enter your name here:</h3>

<form action="property/formProcess" method="get">
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname" value= "{{ firstname1 }}" /><br/>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname" value="{{ lastname1 }}"/><br/>
    <input type="submit" name="submit" value="Submit Form!"><input type="reset" name="reset" value="Reset">
</form>
{% endblock %}
